@tailwind base;
@tailwind components;
@tailwind utilities;



.wave {
    --size: 50px;
    --R: calc(var(--size)*1.28);
  
    -webkit-mask:
      radial-gradient(var(--R) at 50% calc(1.8*var(--size)),#000 99%,#0000 101%) 
        calc(50% - 2*var(--size)) 0/calc(4*var(--size)) 100%,
      radial-gradient(var(--R) at 50% calc(-.8*var(--size)),#0000 99%,#000 101%) 
        50% var(--size)/calc(4*var(--size)) 100% repeat-x;
    /* background: linear-gradient(90deg,red,blue); */
    /* height: 150px; */
    maring: 15px;
  } 

  @layer utilities {
    /* Marquee container animation */
    .animate-marquee {
      animation: marquee 40s linear infinite;
      display: flex;
      white-space: nowrap;
      animation-play-state: running;
    }
  
    /* Pause marquee animation when any child card is hovered */
    .animate-marquee:hover {
      animation-play-state: paused;
    }
  
    /* Animation keyframes for marquee */
    @keyframes marquee {
      0% {
        transform: translateX(0);
      }
      100% {
        transform: translateX(-160%);
      }
    }
  
    /* Card styles (example) */
    /* .card {
      padding: 16px;
      margin-right: 16px; 
      background-color: #f3f4f6; 
    } */
  }
  